########################
# Operating System
########################

*DS_Store
thumbs.db

########################
# Visual Studio
########################

[Aa]rtifacts/
[Bb]in/
[Ll]ogs/
[Oo]bj/
[Pp]ackages/

*.user
*.suo
